BUNDLE_RUBYGEMS__PKG__GITHUB__COM="your_github_personal_access_token_with_read_packages"

# Setting this to test "turns" on all of the CLI subcommands. Setting this to a
# subcommand limits the CLI to that subcommand
APP_NAME="test"

ALMA_API_KEY='your_alma_api_key'
ALMA_API_HOST='https://api-na.hosted.exlibrisgroup.com'

# student_users
STUDENT_USERS_SET_ID="your_users_set_id"

# hathi_trust
CHANGE_PHYSICAL_ITEM_INFORMATION_JOB_ID="some_job_id"

# sms
MESSAGING_SERVICE_SID="your_messaging_service_id"
TWILIO_ACCT_SID='twilio_acct_sid'
TWILIO_AUTH_TOKEN='twilio_auth_token'

